{% load static comments %}
<div id="comment-{{ comment.id }}" class="comment-item well">
{% block comment_item %}           
    <h4>
        <span class="comment-name">{{ comment.name }}</span>
        <span class="comment-date">{{ submit_date }}</span>
        {% if not comment.is_public %}<span class="comment-internal">(Internal)</span>{% endif %}
        {% if object.user %}
            {% if object.user.id == user.id %}
                <span class="comment-edit-span"><a href="#" class='comment-edit-class' data-id='{{ object.id }}'> Edit</a> </span>
            {% endif %}
        {% endif %}
    </h4>    
    <div class="comment-text {% if not comment.is_public %}comment-text-internal{% endif %}">{{ comment.comment|linebreaks }}</div>
    <div id="comment-edit-{{ comment.id }}" hidden>
        {% include "internal_external_comments/form.html" with object=comment form=form %}
    </div>
{% endblock %}
</div>